# dependencies
/node_modules

# next
/.next
/out

# coverage / reports
/playwright-report
/test-results

# local env
.env
.env.local
.env*.local

# misc
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db

# local data
/.data

.vercel
