# dependencies
/node_modules

# next
/.next
/out

# coverage / reports
/playwright-report
/test-results
/.playwright-cli

# local env
.env
.env.local
.env*.local
/.env.vercel.*

# misc
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db

# local data
/.data

.vercel
.wrangler
.env*.local
